In [85]:
#Name Azeem Manzoor
#Reg no. Sp20-Bcs-046

import pandas as pd
import numpy as np
from numpy.linalg import norm
import math

In [86]:
doc1 = "sunshine state enjoy sunshine"
doc2 = "brown fox jump high, brown fox run" 
doc3="sunshine state fox run fast"
bow1 = doc1.split(" ")
bow2 = doc2.split(" ")
bow3 = doc3.split(" ")

In [87]:
terms = set(bow1).union(set(bow2)).union(set(bow3))
terms

{'brown', 'enjoy', 'fast', 'fox', 'high,', 'jump', 'run', 'state', 'sunshine'}

In [88]:
wordDict1 = dict.fromkeys(terms, 0) 
wordDict2 = dict.fromkeys(terms, 0) 
wordDict3 = dict.fromkeys(terms, 0)

In [89]:
for term in bow1:
    wordDict1[term]+=1
for term in bow2:
    wordDict2[term]+=1
for term in bow3:
    wordDict3[term]+=1

In [90]:
#bag of words
pd.DataFrame([wordDict1, wordDict2 ,wordDict3])

   fox  brown  fast  sunshine  run  enjoy  jump  state  high,
0    0      0     0         2    0      1     0      1      0
1    2      2     0         0    1      0     1      0      1
2    1      0     1         1    1      0     0      1      0

In [91]:
#Term Frequency

def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for term, count in wordDict.items():
        tfDict[term] = count/float(bowCount)
    return tfDict

In [92]:
tfBow_1 = computeTF(wordDict1, bow1)
tfBow_2 = computeTF(wordDict2, bow2)
tfBow_3 = computeTF(wordDict3, bow3)
print("The TF values of 1s Document")
tfBow_1

The TF values of 1s Document

{'fox': 0.0,
 'brown': 0.0,
 'fast': 0.0,
 'sunshine': 0.5,
 'run': 0.0,
 'enjoy': 0.25,
 'jump': 0.0,
 'state': 0.25,
 'high,': 0.0}

In [93]:
print("The TF values of 2nd Document")
tfBow_2

The TF values of 2nd Document

{'fox': 0.2857142857142857,
 'brown': 0.2857142857142857,
 'fast': 0.0,
 'sunshine': 0.0,
 'run': 0.14285714285714285,
 'enjoy': 0.0,
 'jump': 0.14285714285714285,
 'state': 0.0,
 'high,': 0.14285714285714285}

In [94]:
print("The TF values of 3rd Document")
tfBow_3

The TF values of 3rd Document

{'fox': 0.2,
 'brown': 0.0,
 'fast': 0.2,
 'sunshine': 0.2,
 'run': 0.2,
 'enjoy': 0.0,
 'jump': 0.0,
 'state': 0.2,
 'high,': 0.0}

In [95]:
#Inverse Document Frequency

def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [96]:
idf = computeIDF([wordDict1, wordDict2 , wordDict3])

In [97]:
def computeTFIDF(tfBow, idf):
    tf_idf = {}
    for term, val in tfBow.items():
        tf_idf[term] = val*idf[term]
    return tf_idf

In [98]:
tf_idf_Bow_1 = computeTFIDF(tfBow_1, idf)
tf_idf_Bow_2 = computeTFIDF(tfBow_2, idf)
tf_idf_Bow_3 = computeTFIDF(tfBow_3, idf)

In [99]:

pd.DataFrame([tf_idf_Bow_1, tf_idf_Bow_2 , tf_idf_Bow_3])

,fox,brown,fast,sunshine,run,enjoy,jump,state,"high,"
0,0.000000,0.00000,0.000000,0.088046,0.000000,0.11928,0.00000,0.044023,0.00000
1,0.050312,0.13632,0.000000,0.000000,0.025156,0.00000,0.06816,0.000000,0.06816
2,0.035218,0.00000,0.095424,0.035218,0.035218,0.00000,0.00000,0.035218,0.00000

In [100]:
#Cosine similarity of S1 and S3
S1 = np.array([2,1,1,0,0,0,0,0,0])
S3 = np.array([1,1,0,0,1,0,0,1,1])
cos = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("Cosine Similarity:", cos)

Cosine Similarity: 0.5477225575051661